@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    
    font-family: Poppins;
    
    min-height: 100vh;
   
    border: 0;
}


.container-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px auto;
    border-radius: 5px;
 
    min-width: 75%;
    max-width: 75%;
   
}

.header {
    padding: 30px 40px;
}

.header h2 {
    font-weight: 600;
    color: #ACBAE1;
    font-size: 30px;
}

.form{
    padding: 0 40px 30px;
    width: 100%; /* Certifique-se de que o formulário ocupe 100% da largura do contêiner */
    display: flex;
    flex-direction: column;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
   border: white;
    
    
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;
    color: #828CAD;
}

.form-control input, textarea#mensagem{
    border: 2px solid #534f53;
    border-radius: 5px;
    outline: 0;

    display: block;

    font-size: 14px;

    width: 100%;
    padding: 15px;
  
}


.form-control.success input {
    border: 3px solid #4ECA64;
}

.form-control.error input {
    border: 3px solid #DB5A5A;
}

.form-control.error i.img-error {
    visibility: visible;
}

.form-control.success i.img-success {
    visibility: visible;
}

.form-control.error small{
    color: #DB5A5A;
    visibility: visible;
}

.form-control i {
    position: absolute;
    top: 57px;
    right: 18px;
    visibility: hidden;
}

.form-control small {
    visibility: hidden;
    position: absolute;
    margin-top: 5px;
    font-size: 14px;

}

.form button {
    background-color: #6C63FF;
    border-radius: 5px;
    color: #fff;
    padding: 15px;
    font-size: 15px;
    font-weight: 600;
    width: 100%;

    margin-top: 5px;

    cursor: pointer;
}

div.col, div.col-4, div.col-8 {
    padding: 1px;
}
.form button:hover {
    background-color: #584ff5;
    transition: 0.3s;
}

.texto-menor {
    font-size: 13px;
}

.divs-facilidades {
    width: 325px;
}

.div-novidades {
    width: 325px;
}

.botao-lilas {
    background-color: #9353FF;
}

.verde-limao {
    color: #DAFF01;
}

@media(min-width: 768px) {

    .div-novidades {
        width: 696px;
    }

}